{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask for Event</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

</head>
<body>
<div class="container-fluid px-5 py-5">
    <div class="py-5 px-5" >
        <div class="row justify-content-center">
            <div class="col-6">
                <h3 class=" text-dark fw-bold">Ask for event</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark w-25  ">Add event</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>