{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg shadow-sm bg-white" >
    <div class="container-fluid px-5">
        <a class="navbar-brand text-dark ms-5 fw-bolder" href="#">Eventualy</a>
        <div class="ms-auto me-5">
            <a class="nav-link d-inline text-dark text-decoration-underline fw-bold pe-2" href="#">Home</a>
            <a class="nav-link d-inline text-dark text-decoration-underline fw-bold pe-2" href="{% url 'add_event' %}" >Ask for Event</a>
            <a class="nav-link d-inline text-dark text-decoration-underline fw-bold pe-2"  href="#">Services</a>
            <a class="nav-link d-inline text-dark text-decoration-underline fw-bold pe-2" href="#">Contact Us</a>
            <a class="nav-link d-inline text-dark text-decoration-underline fw-bold pe-2" href="#">News</a>
        </div>
    </div>
</nav>
<div class="container-fluid bg-white px-5 py-5"
      style="background: url('{% static "mbr-1920x1277.jpg" %}') center/cover no-repeat;"  >

    <div class="row align-items-center mt-3 mb-3">
        <div class="col-7">
            <p class="text-dark"> 2025-21</p>
            <p class="text-dark"> THE BEST SOLUTIONS FOR OUR CLIENTS</p>
            <h1 class="text-dark display-1 fw-bold">We create exclusive events using modern technologies and extensive features.</h1>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">

        {% for event in events %}

        <div class="col-md-4 mb-4
            {% if forloop.counter == 1 %} mt-5 {% endif %}
            {% if forloop.counter == 2 %} mt-0 {% endif %}
            {% if forloop.counter == 3 %} mt-5 {% endif %}
        ">

            <div class="card h-100 border-0">

                <img src="{{ event.poster.url }}"
                     class="card-img-top"
                     style="height:250px; object-fit:cover;">

                <div class="card-body text-lg-start">

                    <h3>{{ event.name }}</h3>
                    <h6 class="text-dark">{{ event.description }}</h6>
                    <h6 class="text-dark"> Participants: {{ event.bands.count }}</h6>
                    <hr>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
</body>
</html>